In [1]:
%matplotlib inline
%precision 7
import nfldb
import nflgame
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 2018 Draft Rankings by Position

In this notebook, we wish to use the nfldb to gather a set of features by positition that we think should be useful in prediciting player ranks. Once we decide the features, we will use the nfldb package to retrieve our data, averaging the data going back the past 3 years.

Before we begin, lets explore some of the nfldb syntax.

In [12]:
import nflgame

game = nflgame.one(2017, 1, "HOU", "JAX")
#for p in game.players:
#    print p.name, p.player

In [14]:
db = nfldb.connect()
q = nfldb.Query(db)

q.game(season_year=2017, season_type='Regular')
#for pp in q.sort('rushing_yds').limit(10).as_aggregate():
#    print pp.player, pp.rushing_yds

#for pp in q.as_games():
#    if pp.home_team == 'HOU' or pp.away_team == 'HOU':
#        print pp.week, pp.gsis_id

hou_game = nfldb.Game.from_id(db, '2017091005')
#for pp in hou_game.players:
#    print pp[1]

In [15]:
query = '''
SELECT
  *
FROM team
'''
players = []
with nfldb.Tx(db) as cursor:
    cursor.execute(query)
    for row in cursor.fetchall():
        print row

{'city': 'Arizona', 'team_id': 'ARI', 'name': 'Cardinals'}
{'city': 'Atlanta', 'team_id': 'ATL', 'name': 'Falcons'}
{'city': 'Baltimore', 'team_id': 'BAL', 'name': 'Ravens'}
{'city': 'Buffalo', 'team_id': 'BUF', 'name': 'Bills'}
{'city': 'Carolina', 'team_id': 'CAR', 'name': 'Panthers'}
{'city': 'Chicago', 'team_id': 'CHI', 'name': 'Bears'}
{'city': 'Cincinnati', 'team_id': 'CIN', 'name': 'Bengals'}
{'city': 'Cleveland', 'team_id': 'CLE', 'name': 'Browns'}
{'city': 'Dallas', 'team_id': 'DAL', 'name': 'Cowboys'}
{'city': 'Denver', 'team_id': 'DEN', 'name': 'Broncos'}
{'city': 'Detroit', 'team_id': 'DET', 'name': 'Lions'}
{'city': 'Green Bay', 'team_id': 'GB', 'name': 'Packers'}
{'city': 'Houston', 'team_id': 'HOU', 'name': 'Texans'}
{'city': 'Indianapolis', 'team_id': 'IND', 'name': 'Colts'}
{'city': 'Jacksonville', 'team_id': 'JAC', 'name': 'Jaguars'}
{'city': 'Kansas City', 'team_id': 'KC', 'name': 'Chiefs'}
{'city': 'Miami', 'team_id': 'MIA', 'name': 'Dolphins'}
{'city': 'Minnesota', 'team_id': 'MIN', 'name': 'Vikings'}
{'city': 'New England', 'team_id': 'NE', 'name': 'Patriots'}
{'city': 'New Orleans', 'team_id': 'NO', 'name': 'Saints'}
{'city': 'Oakland', 'team_id': 'OAK', 'name': 'Raiders'}
{'city': 'Philadelphia', 'team_id': 'PHI', 'name': 'Eagles'}
{'city': 'Pittsburgh', 'team_id': 'PIT', 'name': 'Steelers'}
{'city': 'Seattle', 'team_id': 'SEA', 'name': 'Seahawks'}
{'city': 'San Francisco', 'team_id': 'SF', 'name': '49ers'}
{'city': 'St. Louis', 'team_id': 'STL', 'name': 'Rams'}
{'city': 'Tampa Bay', 'team_id': 'TB', 'name': 'Buccaneers'}
{'city': 'Tennessee', 'team_id': 'TEN', 'name': 'Titans'}
{'city': 'Washington', 'team_id': 'WAS', 'name': 'Redskins'}
{'city': 'UNK', 'team_id': 'UNK', 'name': 'UNK'}
{'city': 'New York', 'team_id': 'NYG', 'name': 'Giants'}
{'city': 'New York', 'team_id': 'NYJ', 'name': 'Jets'}
{'city': 'Los Angeles', 'team_id': 'LA', 'name': 'Rams'}
{'city': 'Los Angeles', 'team_id': 'LAC', 'name': 'Chargers'}
{'city': 'Jacksonville', 'team_id': 'JAX', 'name': 'Jaguars'}
{'city': 'San Diego', 'team_id': 'SD', 'name': 'Chargers'}

### Creating a Fantasy Scoring Function

Before creating our ranks, we need to implement a scoring function that translates stats into fantasy points. This scoring function will need to be modified depending on league settings.

In [16]:
scoring = {
    'passing_yds' : lambda x : x*.04,
    'passing_tds' : lambda x : x*4., 
    'passing_int' : lambda x : -2.*x,
    'rushing_yds' : lambda x : x*.1,
    'rushing_tds' : lambda x : x*6.,
    'kickret_tds' : lambda x : x*6.,
    'receiving_tds' : lambda x : x*6.,
    'receiving_yds' : lambda x : x*.1,
    'receiving_rec' : lambda x : .5*x,
    'fumbles_lost' : lambda x : -2.*x,
    'passing_twoptm'  : lambda x : 2.*x,
    'rushing_twoptm' : lambda x : 2.*x,
    'receiving_twoptm' : lambda x : 2.*x
}

def score_player(player_dict_agg):
    score = 0;
    for stat in scoring.keys():
        if player_dict_agg.has_key(stat) and player_dict_agg[stat] > 0:
            #print stat, player_dict_agg[stat], scoring[stat](player_dict_agg[stat])
            score += scoring[stat](player_dict_agg[stat])
    #print player_dict_agg['full_name'], player_dict_agg['position'], score, player_dict_agg['games_played']
    return round(score / player_dict_agg['games_played'], 1)

### Ranking Quarterbacks Per Week

When ranking qbs, some things to consider would be avg_fp points per game, avg pass completion percentage, overall team offensive rank.

Lets gather the following to predict QB rankings - Looking back at last year and this year:

- Avg fp/game
- Avg Pass completion pct
- Avg team offense rank
- Avg team passing attempts rank

#### Avg FP/game

Lets write a function that gets the avg FP/game by position

In [45]:
db = nfldb.connect()
q = nfldb.Query(db)

def convert_list_sql_string(my_list):
    return ', '.join(map(lambda x: "'" + x + "'", my_list))

def get_qb_stats(year_list, pos_list):
    year_string = convert_list_sql_string(year_list)
    pos_string = convert_list_sql_string(pos_list)
    
    players = {}
    
    score_query = '''
    SELECT agg.*, player.full_name as full_name, player.position as position from
    (
        SELECT
          play_player.player_id,
          SUM(play_player.passing_yds) AS passing_yds,
          SUM(play_player.passing_tds) AS passing_tds,
          SUM(play_player.passing_int) AS passing_int,
          SUM(play_player.rushing_yds) AS rushing_yds,
          SUM(play_player.passing_att) as passing_att,
          SUM(play_player.passing_cmp) as passing_cmp,
          SUM(play_player.rushing_yds) AS rushing_yds,
          SUM(play_player.rushing_tds) AS rushing_tds,
          SUM(play_player.kickret_tds) AS kickret_tds,
          SUM(play_player.receiving_tds) AS receiving_tds,
          SUM(play_player.receiving_yds) AS receiving_yds,
          SUM(play_player.receiving_rec) AS receiving_rec,
          SUM(play_player.fumbles_lost) AS fumbles_lost,
          SUM(play_player.passing_twoptm) AS passing_twoptm,
          SUM(play_player.rushing_twoptm) AS rushing_twoptm,
          SUM(play_player.receiving_twoptm) AS receiving_twoptm,
          COUNT(DISTINCT game.gsis_id) AS games_played
        FROM play_player
        LEFT JOIN game ON play_player.gsis_id = game.gsis_id
        WHERE game.season_type = 'Regular' AND game.season_year in (%s)
        GROUP BY play_player.player_id
        HAVING COUNT(DISTINCT game.gsis_id) > 4
        AND COUNT(DISTINCT play_player.play_id) > 1
    ) as agg
    LEFT JOIN player on agg.player_id = player.player_id
    WHERE player.position in (%s)
    ''' % (year_string, pos_string)
    
    with nfldb.Tx(db) as cursor:
        cursor.execute(score_query)
        for row in cursor.fetchall():
            cmp_pct = 0
            if row['passing_att'] != 0:
                cmp_pct = round((row['passing_cmp']*1.0 / row['passing_att']) * 100,2)
            players[row['full_name']] = (score_player(row), cmp_pct)
            
            
    return pd.DataFrame([[key,value[0], value[1]] for key,value in players.iteritems()],columns=["Name","avg_fpg", "cmp_pct"]).sort_values('avg_fpg', ascending=False)

In [46]:
years = ['2017', '2018']
pos = ['QB']
df = get_qb_stats(years, pos)
df

                  Name  avg_fpg  cmp_pct
16      Deshaun Watson     24.1    61.76
13      Russell Wilson     21.7    61.23
0         Carson Wentz     21.2    60.23
7           Alex Smith     19.7    67.52
1           Cam Newton     18.6    59.15
34       Aaron Rodgers     18.5    64.71
24           Tom Brady     18.4    66.21
12  Ben Roethlisberger     17.4    64.23
10        Kirk Cousins     17.4    64.26
38    Matthew Stafford     17.1    65.66
26          Jared Goff     17.0    62.13
5        Philip Rivers     16.9    62.61
14          Drew Brees     16.4    72.07
17        Dak Prescott     16.3    62.86
27         Case Keenum     15.9    67.43
2          Josh McCown     15.8    67.34
3        Blake Bortles     15.6    60.23
11      Jameis Winston     15.5    63.80
8         Tyrod Taylor     14.8    62.62
31       C.J. Beathard     14.8    54.91
6      Jimmy Garoppolo     14.7    67.42
28           Matt Ryan     14.3    64.65
22      Marcus Mariota     14.0    62.03
30          Derek Carr     13.8    62.72
32         Andy Dalton     13.2    59.88
39     Jacoby Brissett     12.9    58.85
9          Eli Manning     12.5    61.65
29      Blaine Gabbert     12.3    55.56
33    Ryan Fitzpatrick     12.3    58.90
15       DeShone Kizer     11.7    53.57
35      Trevor Siemian     11.5    59.03
18      Brock Osweiler     11.4    55.81
36          Joe Flacco     11.4    64.00
4        Brett Hundley     11.3    60.76
25   Mitchell Trubisky     11.1    59.27
37        Drew Stanton     10.0    50.00
21         Brian Hoyer      6.4    58.29
20          Nick Foles      4.8    56.44
23        Sean Mannion      1.1    59.46
19            Joe Webb      0.5    28.57

#### Gathering Team Level Statistics

Now that we have the relevant player stats, lets gather team level statistics.

In [67]:
# Get overall team offense rank

def get_team_stats(year_list):
    year_string = convert_list_sql_string(year_list)
    
    teams = {}

    offense_query = '''
    SELECT
          player.team as team,
          SUM(play_player.passing_yds) AS passing_yds,
          SUM(play_player.passing_tds) AS passing_tds,
          SUM(play_player.passing_tds) AS passing_cmp,
          SUM(play_player.rushing_yds) AS rushing_yds,
          SUM(play_player.rushing_tds) AS rushing_tds,
          SUM(play_player.receiving_tds) AS receiving_tds,
          SUM(play_player.receiving_yds) AS receiving_yds,
          SUM(play_player.receiving_rec) AS receiving_rec,
          COUNT(DISTINCT game.gsis_id) AS games_played
        FROM play_player
        LEFT JOIN game ON play_player.gsis_id = game.gsis_id
        LEFT JOIN player ON play_player.player_id = player.player_id
        WHERE game.season_type = 'Regular' AND game.season_year in (%s) AND player.team != 'UNK' 
        GROUP BY player.team
        
    ''' % year_string

    with nfldb.Tx(db) as cursor:
        cursor.execute(offense_query)
        for row in cursor.fetchall():
            teams[row['team']] = (score_player(row), row['passing_yds'])
    team_df = pd.DataFrame([[key,value[0], value[1]] for key,value in teams.iteritems()],columns=["Team","total_offense_score", "total_passing_yds"])
    team_df['total_offense_rank'] = team_df['total_offense_score'].rank(ascending=False).astype(int)
    team_df['pass_yds_rank'] = team_df['total_passing_yds'].rank(ascending=False).astype(int)
    return team_df

In [68]:
years = ['2017', '2018']
df = get_team_stats(years)
df

,Team,total_offense_score,total_passing_yds,total_offense_rank,pass_yds_rank
0,MIN,16.2,6378,7,1
1,MIA,9.0,1897,26,28
2,CAR,11.4,3312,20,22
3,ATL,19.4,4146,3,11
4,DET,11.3,4608,21,5
5,CIN,25.6,3320,2,21
6,NYJ,8.4,2957,29,26
7,DEN,11.1,4064,22,12
8,BAL,18.5,3179,5,23
9,NYG,7.1,3468,30,19
10,OAK,6.9,3562,31,18
11,TEN,13.6,4318,13,9
12,LA,19.0,4028,4,14
13,DAL,12.2,3327,16,20
14,NE,12.7,5838,14,2
15,SEA,11.7,5813,18,3
16,CLE,9.3,3689,25,17
17,BUF,8.5,252,28,32
18,JAX,15.3,3813,9,16
19,CHI,10.5,2224,24,27
20,TB,11.7,4607,18,6
21,HOU,11.1,1734,22,29
22,GB,12.2,4579,16,7
23,WAS,15.5,4042,8,13
24,KC,12.7,284,14,31
25,PHI,15.2,3967,10,15
26,PIT,14.9,4259,11,10
27,NO,17.7,4338,6,8
28,LAC,34.3,4727,1,4
29,IND,8.7,3098,27,24
30,ARI,5.5,1234,32,30
31,SF,14.6,2990,12,25